:root {
  --heading-font-size: 60px;
  --primary-color: #4b4877;
  --secondary-color: #7d77a6;
  --hover-color: #a2aad0;
  --icon-spacing: 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background-image: radial-gradient(
      circle at 3.79% 92.21%,
      #a2aad0,
      transparent 45%
    ),
    radial-gradient(circle at 15.23% 71.63%, #caafcc, transparent 48%),
    radial-gradient(circle at 34.1% 72.55%, #f1c6d6, transparent 31%),
    radial-gradient(circle at 59.88% 39.32%, #fee5e0, transparent 60%),
    radial-gradient(circle at 50% 50.04%, #d2ddeb, transparent 100%),
    radial-gradient(circle at 50% 50.04%, #fff5ed, transparent 100%),
    radial-gradient(circle at 50% 50.04%, #adc6e3, transparent 100%),
    radial-gradient(circle at 50% 50%, #99a0cb, #99a0cb 100%);
}
.logo {
  width: 50px;
}
.navbar {
  border-bottom: 1px solid white;
  font-family: "DM Serif Text";
  letter-spacing: 1px;
}
.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}
.navbar-nav {
  padding-left: 10px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: #4b4877;
}
.star-symbol-top {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  line-height: 125%;
  color: white;
  margin-top: 150px;
  margin-left: 110px;
}
.star-symbol-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50px;
  line-height: 125%;
  color: white;
  margin-bottom: 150px;
  margin-right: 110px;
}
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  height: 100vh;
}
h1 {
  margin-top: 35px;
  font-family: "DM Serif Text";
  font-size: var(--heading-font-size);
  text-align: center;
  line-height: 75px;

  color: var(--primary-color);
}
.intro {
  border-bottom: 1px solid white;
}

.description {
  font-family: "Nunito";
  font-size: 24px;
  text-align: center;
  line-height: 33px;
  color: #7d77a6;
}
.about-content {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-pic {
  object-fit: cover;
  max-width: 400px;
  height: auto;

  background: url(about-me-pic.jpg);
  box-shadow: 0px 0px 13px 6px rgba(255, 255, 255, 0.51);
  border-radius: 74px;
}
.profile-pic {
  object-fit: cover;
  width: 179px;
  height: 226px;

  background: url(profilepic.png);
  filter: drop-shadow(0px 4px 9px rgba(255, 255, 255, 0.37));
  border-radius: 77px;
}
.ellipse {
  position: absolute;
  width: 174.89px;
  height: 240px;
  border: 1px solid #ffffff;
  border-radius: 77px;
  transform: rotate(35deg);
  top: 0;
}
.home-page .arrow {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
#arrow-down {
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 30px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.9);
}
a.arrow-link {
  color: white;
}
.project-summary {
  background-color: white;
  width: 100%;
}
.about-style {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#about-header {
  position: relative;
  border-bottom: 2px solid white;
  margin: 50px auto;
  margin-bottom: 130px;
  padding-left: 30px;
  padding-right: 30px;
}
.summary-head {
  flex-direction: column;
  align-items: center;
}
#summary-header {
  width: fit-content;
  padding: 50px 0 0;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--secondary-color);
}
.project-thumbnail {
  box-sizing: border-box;
  object-fit: cover;
  text-align: left;
  border-radius: 12px;
}
h2 {
  margin-top: 20px;
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
  color: var(--primary-color);
}
p {
  font-family: "Nunito";
  font-size: 25px;
  color: var(--primary-color);
}
.about-desc {
  max-width: 850px;
  padding-left: 25px;
}
.link-icons {
  word-spacing: var(--icon-spacing);
}
.github-icon,
.ext-icon,
.fa-linkedin,
.fa-envelope,
.fa-file-lines {
  font-size: 30px;
  color: var(--primary-color);
}
.github-icon:hover,
.ext-icon:hover {
  color: var(--hover-color);
  transition: all 100ms ease-in-out;
}
#project-content {
  padding: 0;
}
.row-reverse {
  flex-direction: row-reverse;
}
.project-divide-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--secondary-color),
    rgba(0, 0, 0, 0)
  );
}
.col-lg-6 {
  column-width: 660px;
}

.btn-portfolio,
.btn-portfolio-about {
  margin: 90px auto;
  margin-bottom: 50px;
  font-family: "Nunito";
  font-size: 20px;
  line-height: 22px;
  padding: 25px 40px;
  background-color: var(--primary-color);
  border-radius: 50px;
  border: none;
}
.btn-portfolio-about {
  margin-top: 130px;
}
.btn-portfolio:hover,
.btn-portfolio-about:hover {
  background-color: var(--hover-color);
  color: var(--primary-color);
  font-weight: 500;
  transition: all 150ms ease-in-out;
}
#portfolio-btn-link,
#portfolio-btn-about {
  text-decoration: none;
  color: white;
}

.scroll-top {
  display: block;
  text-align: right;
  margin-right: 20px;
  font-size: 45px;
  opacity: 0.5;
}
.scroll-top .to-top {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-bottom: 25px;
  color: var(--secondary-color);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.footer {
  padding: 15px;
  border-top: 1px solid white;
}
.footer-text {
  font-family: "Nunito";
  font-size: 18px;
  text-align: left;
  line-height: 33px;
  color: var(--primary-color);
  white-space: nowrap;
}
a.open-source-link {
  color: var(--primary-color);
}
a.open-source-link:hover {
  color: white;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.footer-icons {
  text-align: right;
  font-size: 30px;
  word-spacing: var(--icon-spacing);
}
.footer-github:hover,
.footer-linkedin:hover,
.footer-email:hover,
.footer-cv:hover {
  color: white !important;
  transition: all 100ms ease-in-out;
}
.footer-container {
  width: 100%;
  max-width: none;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 992px) {
  .btn-portfolio-about {
    margin-top: 15px;
  }
  .footer-text,
  .footer-icons {
    text-align: center;
  }
  .footer-text {
    white-space: normal;
    margin-bottom: 0;
  }
  .footer-icons {
    margin-top: 12px;
  }
  #about-header {
    margin-bottom: 50px;
  }
  .center-content {
    display: flex;
    justify-content: center !important;
  }
  .about-content {
    height: auto;
  }
  .about-desc {
    margin: 15px;
    padding-left: 0;
  }
  .about-pic {
    height: auto;
    width: 100%;
    max-width: 200px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 33px;
    white-space: nowrap;
    text-align: center;
    margin-top: 0;
  }

  .description,
  .footer-text {
    font-size: 16px;
  }
  .link-icons {
    text-align: center;
  }
}
@media (max-width: 575px) {
  #project-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  p {
    font-size: 15px;
  }
  .star-symbol-top {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    line-height: 125%;
    color: white;
    margin-top: 130px;
    margin-left: 30px;
  }
}

/* anything smaller than width 410, weird strip on the right*/
