:root {
  --heading-font-size: 60px;
  --primary-color: #4b4877;
  --secondary-color: #7d77a6;
  --hover-color: #bcc4db;
}
body {
  height: 100%;
  background-image: radial-gradient(
      circle at 3.79% 92.21%,
      #a2aad0,
      transparent 45%
    ),
    radial-gradient(circle at 15.23% 71.63%, #caafcc, transparent 48%),
    radial-gradient(circle at 34.1% 72.55%, #f1c6d6, transparent 31%),
    radial-gradient(circle at 59.88% 39.32%, #fee5e0, transparent 60%),
    radial-gradient(circle at 50% 50.04%, #d2ddeb, transparent 100%),
    radial-gradient(circle at 50% 50.04%, #fff5ed, transparent 100%),
    radial-gradient(circle at 50% 50.04%, #adc6e3, transparent 100%),
    radial-gradient(circle at 50% 50%, #99a0cb, #99a0cb 100%);
}
.star-symbol-top {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  line-height: 125%;
  color: white;
  margin-top: 150px;
  margin-left: 110px;
}
.star-symbol-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50px;
  line-height: 125%;
  color: white;
  margin-bottom: 150px;
  margin-right: 110px;
}
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  height: 100vh;
}
h1 {
  margin-top: 35px;
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-size: var(--heading-font-size);
  text-align: center;
  line-height: 75px;

  color: var(--primary-color);
}

.description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 33px;
  color: #7d77a6;
}
.profile-pic {
  object-fit: cover;
  width: 179px;
  height: 226px;

  background: url(profilepic.png);
  filter: drop-shadow(0px 4px 9px rgba(255, 255, 255, 0.37));
  border-radius: 77px;
}
.ellipse {
  position: absolute;
  width: 174.89px;
  height: 240px;
  border: 1px solid #ffffff;
  border-radius: 77px;
  transform: rotate(35deg);
  top: 0;
}
.home-page .arrow {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
#arrow-down {
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 30px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.9);
}

.project-summary {
  background-color: white;
  width: 100%;
  padding: 100px;
}
.summary-heading {
  padding: 100px;
}
.project-thumbnail {
  box-sizing: border-box;
  object-fit: cover;
  text-align: left;

  border: 8px solid #ffffff;
  border-radius: 12px;
}
h2 {
  margin-top: 35px;
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;

  color: var(--primary-color);
}
p {
  font-family: "Nunito";
  font-size: 25px;
  color: var(--primary-color);
}
a .github-icon,
a .ext-icon {
  font-size: 30px;
  color: var(--primary-color);
}
.github-icon:hover,
.ext-icon:hover {
  color: var(--hover-color);
}
#project-content {
  padding: 0;
}
